/.ipynb_checkpoints
/ChromaGAN64.ipynb
/config.yaml
/outputs
/pretrain
/data
__pycache__
old-test
test_30


*.out

# IDE files
.cursor/

# Error and log files
*.err
*.log

# SLURM job files
*.slurm

# Editor/IDE config files
pyrightconfig.json
